{% extends "layout.html" %}

{% block title %}
    Future
{% endblock %}

{% block main %}

    <h2 class='pushdown below-header'>The Future of Hero Helper</h2>

    <h4 class='half-push'>Planned extra features and QOL improvements to Hero Helper in the future

    <ul class='half-push'>
        <li>Hero profile pictures next to their respective results</li>
        <li>Including hero/item synergies as an additional filter to find heroes based on commonly built items</li>
        <li>Incorporating Dota 2 client API for the ability to filter results based on currently banned heroes</li>
        <li>Update hero traits to most recent update patch (Currently about 12 months old kekw)</li>
        <li>Update with newly released heroes (Ringmaster, Kez)</li>
        <li>Add the ability to select multiple traits</li>
        <li>Functionality for the results to be dynamically returned upon adding new requirements to forms. This should remove the need to submit a single form and make the user experience much easier to narrow down heroes according to your requirements quickly.</li>
    </ul>

{% endblock %}
