{% extends "layout.html" %}

{% block title %}
    How To
{% endblock %}

{% block main %}

    <h2 class='pushdown below-header'>How it works</h2>

    <p class='half-push'>This website is designed to return a suggestion of one or more Dota 2 heroes to you based on certain aspects or traits that you require in your game.
        <p>The more required elements you choose the less results you will receive so be careful not to be too specific!</p>
        <p>The off-role checkbox will only do something if a main role is already selected, otherwise your request will go through as per normal without providing any off-role options.</p>

        <h2 class='half-push'>May your matchmaking be blessed</h2>
{% endblock %}
