{% extends "layout.html" %}

{% block title %}
    Traits
{% endblock %}

{% block main %}

    <h2 class='pushdown below-header'>Trait descriptions</h2>

    <h5 class='half-push'>Anti Carry - Generally heroes that involve making one heroes life especially difficult in a game, normally the target of which is the carry.</h3>

    <h5 class='mini-push'>AoE - The hero has some king of meaningful aoe ability.</h3>

    <h5 class='mini-push'>Area Control - Controls space or a portion of the map somehow, through creating terrain or placing traps/vision of some kind.</h3>

    <h5 class='mini-push'>Break - The hero has an ability that infilcts break.</h3>

    <h5 class='mini-push'>Buffer - The hero buffs their allies in some meaningful way.</h3>

    <h5 class='mini-push'>Catch - The hero is good at getting the jump on enemy heroes and picking them off quickly solo or with a +1 or +2. Does not necessarily mean they are a strong initiator, just good at starting a small skirmish based on picking off a hero.</h3>

    <h5 class='mini-push'>Damage - A large part of the heroes identity is dealing a large amount of damage, and generally is not a carry hero, as they all are obivously designed to do maximum right click damage. Generally reserved for heroes that you would want to pick outside of the carry role and looking for extra damage. eg. Lina, Zeus.</h3>

    <h5 class='mini-push'>Disable - The hero has an ability that disables the enemies in some way. Mostly this is with stuns but can also be fears, roots, etc. Almost any CC that is not a silence.</h3>

    <h5 class='mini-push'>Dispel - The hero has an ability that can dispel themself or and ally.</h3>

    <h5 class='mini-push'>Displacement - The hero has an ability that allows them to displace their allies or enemies.</h3>

    <h5 class='mini-push'>Elusive - The hero is difficult to kill because of their elusivity. eg. invisibility or movement ability.</h3>

    <h5 class='mini-push'>Fast Farm - The heroes kit enable them to flash farm waves or stacks very quickly and effeciently, or in a few cases their identity and playstyle force them to almost always play that type of game. eg. Anti-Mage.</h3>

    <h5 class='mini-push'>Gap Closer - The hero has one or more abilties that let them close distance very quickly.</h3>

    <h5 class='mini-push'>Global - The hero has an ability that impacts the map on a global scale.</h3>

    <h5 class='mini-push'>Health Degen - The hero has an ability that effects enemy heroes health regen negatively.</h3>

    <h5 class='mini-push'>Illusions - The hero produces illusions from their ability, or a core part of thei identity involves building items to acheive something similar. eg. Anti-Mage.</h3>

    <h5 class='mini-push'>Initiator - The hero excels at starting major teamfight or skirmishes.</h3>

    <h5 class='mini-push'>Invisibility - The hero has an ability that grants them invisibility.</h3>

    <h5 class='mini-push'>Lane Bully - The hero excels at winning their lane.</h3>

    <h5 class='mini-push'>Multi Attack - The hero has an abiliy that causes them to attack multiple times in very quick succession.</h3>

    <h5 class='mini-push'>Pure - The hero has meaningful pure damage attatched to one or more of their abilities.</h3>

    <h5 class='mini-push'>Purge - The hero has an ability which allows them to purge enemy heroes.</h3>

    <h5 class='mini-push'>Push - The hero excels at pushing waves effectively and sieging towers well.</h3>

    <h5 class='mini-push'>Save - The hero has some kind of ability which allows them to save themself or an ally from danger.</h3>

    <h5 class='mini-push'>Scaling - The hero scales incredibly well into the late game. Alternatively the hero can also just scale very quickly eg. Alchemist.</h3>

    <h5 class='mini-push'>Silence - The hero has one or more silences built into their kit.</h3>

    <h5 class='mini-push'>Single Target - The hero excels at dealing damage or disabling one specific hero at a time.</h3>

    <h5 class='mini-push'>Spell Immune - The hero has an ability which allows them to be spell immune for a period of time.</h3>

    <h5 class='mini-push'>Spell Pierce - The hero has a meaningful ability which allows them to pierce spell immunity.</h3>

    <h5 class='mini-push'>Split Push - The hero excels at spilt pushing, this generally means they are also very elusive or can participate globally effectively.</h3>

    <h5 class='mini-push'>Summons - The hero has an ability and or item build that focuses on summons.</h3>

    <h5 class='mini-push'>Sustain - The hero has some kind of inbuilt sustain in their kit. This is mostly health sustain, but can also but mana eg. KotL's Chakra Magic.</h3>

    <h5 class='mini-push'>Tanky - The hero is very difficult to kill because of their innate tankiness or pseudo-tankiness.</h3>

    <h5 class='mini-push'>Teamfight - The hero excels in teamfights, usually due to a big AoE spell.</h3>

    <h5 class='mini-push'>Wave Clear - The hero has a spammable spell that clears waves very quickly.</h3>

{% endblock %}
